*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #16161a;
    --white-color: #FFFFFE;
    --orange-color: #FF8906;
    --green-color: #2CB67D;
}

body{
    background-color: var(--primary-color);
    color: var(--white-color);
    position: relative;
}

h1,
h2,
ul{
    font-family: 'IM FELL English';
    font-size: 18px;
    font-weight: 300;
}

p{
    font-family: 'Josefin Slab';
}
.container{
    padding: 30px 63px;
}

body > :first-child{
    height: 700px;
}

.container .logo,
.container .dropdown,
.container .dropdown-item{
    padding: 0 1rem;
}

.navigation{
    position: relative;
    z-index: 2;
}

.navigation .flex{
    justify-content: space-between;
}

nav{
    margin-right: auto;
}

.logo{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Baskervville';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFE;
}

nav .dropdown,
.dropdown-item li{
    margin-bottom: 10px;
}

.dropdown{
    cursor: pointer;
}

.dropdown-item{
    display: none;
}

.dropdown-item a:hover{
    opacity: 80%;
}

.coven{
    cursor: pointer;
}

.coven:hover{
    opacity: 80%;
}

.fading{
    position: absolute;
    top: 400px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom,
     rgba(255, 255, 255, 0) 0%, rgb(22, 22, 26) 80%) repeat scroll 0 0;
    z-index: 1;
}

.showcase .slider-img-container{
    z-index: 3;
}

.showcase .slider-text-container{
    width: auto;
    height: 300px;
    z-index: 3;
    margin-right: 100px;
}

.showcase h1{
    font-family: 'IM FELL English';
    font-size: 64px;
    letter-spacing: 0.1em;
}

.showcase p {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.image-slider{
    background-image: url('../images/edited/slider-1.png');
    background-repeat:no-repeat;
    background-size:contain;
    height:289px;width:534px;
    margin: 1rem;
}

.item-title{
    margin-bottom: 10px;
}

.item-para{
    text-shadow: 1px 1px 2px black;
}

.buy-btn{
    font-family: 'IM FELL English';
    align-self: flex-end;
}

.show{
    display: block;
}