@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=IM+Fell+English&family=IM+Fell+English+SC&family=Josefin+Slab:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #16161a;
    --white-color: #FFFFFE;
    --orange-color: #FF8906;
    --green-color: #2CB67D;
}

body{
    background-color: var(--primary-color);
    color: var(--white-color);
    position: relative;
    height: 100%;
}

html{
    height: 100%;
}

h1,
ul{
    font-family: 'IM FELL English';
    font-size: 18px;
    font-weight: 400;
}


h2,
h3{
    font-family: 'IM FELL English SC';
    font-size: 24px;
    font-weight: 400;
}
p{
    font-family: 'Josefin Slab';
    line-height: 1.2em;
    font-size: 18px;
    font-weight: 400;
}

body > :first-child{
    height: 700px;
}

.container .logo,
.container .dropdown,
.container .dropdown-item{
    padding: 0 1rem;
}

.navigation{
    position: relative;
}

#nav-icon{
    display: none;
    padding: 0 1rem;
    cursor: pointer;
}

.navigation .flex{
    justify-content: space-between;
}

nav{
    position: relative;
    margin-right: auto;
}

.logo{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Baskervville';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFE;
}

.dropdown{
    cursor: pointer;
}

.dropdown-item{
    position: absolute;
    display: none;
    width: 120px;
}


.dropdown-item li{
    margin: 10px 0;
}

.dropdown-item li:last-child{
    display: none;
}

.dropdown-item a:hover{
    opacity: 80%;
}

.coven{
    cursor: pointer;
}

.coven:hover{
    opacity: 80%;
}

.fading{
    position: absolute;
    top: 400px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom,
     rgba(255, 255, 255, 0) 0%, rgb(22, 22, 26) 80%) repeat scroll 0 0;
    z-index: -1;
}

/* Showcase */

.showcase{
    margin: 100px 150px 0 150px ;
    height: 300px;
}

.showcase .container{
    padding: 0;
}

.showcase-image{
    margin: 0 1rem;
}

.showcase-text > h2{
    font-size: 64px;
}

.showcase-text > p {
    font-size: 36px;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
}

.image-content{
    /* background-image: url('../images/edited/slider-1.png');
    background-repeat:no-repeat;
    background-size:contain;
    height: 100px;
    border: 1px solid white; */
    padding: 0 30px;
    /* max-width: 100%; */
    width: 400px;
    height: 200px;
}

#slider{
    min-width: 350px;
    max-width: 400px;
}

.showcase .showcase-text{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.buy-btn{
    font-family: 'IM FELL English';
    align-self: flex-end;
}
/* Services */

.service{
    margin-top: 100px;
}

.service .grid > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service h3{
    color: #FF8906;
    padding: 0.5rem;
}

.service img{
    padding: 1rem;
}

.show{
    display: block;
}

#arrow-left,
#arrow-right{
    cursor: pointer;
    width: 20px;
}

/* Footer */
.footer{
    margin-top: 70px;
    padding: 0 15px;
}
.footer .container {
    padding: 10px;
    height: 100px;
    background-color: var(--primary-color);
    border-top: 1px solid #76767e;
    justify-content: space-between;
}

.footer .container p:nth-child(2) {
    padding-left: 200px;
}

.footer .container span {
    font-family: 'Baskerville';
    font-weight: 400;
}

/* Tablets and under */
/* Tablets */
@media(max-width: 1020px){
    .showcase .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        margin: 30px 60px;
        height: auto;
    }

    .image-content{
        width: 500px;
        height: 300px;
    }

    .showcase .flex,
    .showcase .showcase-text > .buy-btn{
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .showcase-text h2{
        margin: 10px 0;
    }

    .showcase-text p{
        margin-bottom: 30px;
    }

    .footer .container {
        padding-bottom: 40px;
    }
}

/* Mobiles */

@media(max-width: 550px){
    .grid,
    .service .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .container{
        padding: 30px 10px;
    }

    .showcase{
        margin-top: 200px;
        height: auto;
    }

    .image-content{
        width: 300px;
        height: 200px;
    }

    #arrow-left,
    #arrow-right {
        width: 15px;
    }

    .line,
    .coven{
        display: none;
    }

    nav{
        position: unset;
        margin-right: unset;
    }

    .navigation{
        background-color: var(--primary-color);
    }

    .navigation .dropdown{
        display: none;
    }

    #nav-icon{
        display: block;
    }

    .container .dropdown-item{
        padding: 0;
    }

    .container .dropdown-item > li {
        margin: 30px 0;
    }

    .dropdown-item li:last-child{
        display: block;
    }

    .responsive{
        position: absolute;
        width: 100%;
        left: 0;
        top: 85px;
        text-align: center;
    }

    .blur{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 40%);
        filter: blur(1px);
        z-index: -1;
    }

    .footer {
        height: 100px;
    }

    .footer .container {
        background-color: var(--primary-color);
        border-top: 1px solid #76767e;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .footer .container p:nth-child(2) {
        margin-top: 20px;
        padding-left: 0;
    }

    .footer .container p:nth-child(3) {
        margin-top: 20px;
        padding-bottom: 30px;
    }
}