.flex{
    display: flex;
}

.flex-v{
    flex-direction: column;
}
.line{
    border-left: solid 3px #FFFFFE;
    height: 19px;
}


.cover {
    background-image: url('../images/sandwitch-home.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 0;
    width: 100%;
  }

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.center{
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: var(--green-color);
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFE;
    letter-spacing: 0.1em;
}

.btn:hover{
    opacity: 80%;
}

/* Colors */

.orange{
    color: var(--orange-color);
}

.cover-dark{
    opacity: 0.4;
}

/* Margin */

.my-1{
    margin: 10rem 0;
}

/* Padding */

.p-1{
    padding-right: 3rem;
}